
/* h1{
    color: red;
    background-color: black;
} */

/* h1{
    color:blue;
    background-color: aqua;
}

p{
    color:red;
    background-color: khaki;
}
button{
    color: blueviolet;
} */

/* h2{
    color:orange;
}
p{
    background-color: black;
    color:white
}

button{
    background-color: blue;
    color: white;
} */


h1{
    text-align:right;
    border:solid;
    width:50%;
    text-decoration:wavy red underline;
    font-family: arial;
}

h2{
    font-weight: normal;
    text-decoration: line-through;
    letter-spacing: 5px;
}

p{
    line-height: 10;
    font-size: 15px;
}