*{
    font-family: 'Courier New', Courier, monospace;
}


h3{
    color:purple;
}

h1{
    color:#b92b27;
}

#login{
    background-color: white;
}

#signup{
    background-color: #b92b27;
    color:white
}

.upvote{
    background-color:green;
}

/* #myid p{
    color: green;
} */
div[id="myid"] p{
    color:green;
}

p+h3{
    text-decoration: underline;
}

div>input{
    background-color: aliceblue;
}

input[type="text"]{
    color:red;
}

input[type="password"]{
    color:green;
}

button:hover{
    background-color: black;
    color:white;
}
h3:hover{
    text-decoration:overline;
}
button:active{
    background-color: hotpink;
    color:black;
}

p:active{
    font-weight: bold;
    color:green;
}

/* not wrong */
input [type="radio"]:checked + label{
    color:red;
    font-weight:bold;
}

/* not wrong */
post:nth-last-of-type(2){
    background-color: blanchedalmond;
}

h1::first-letter{
    color:darksalmon;
}

p::first-line{
    color:red;
}

p::selection{
    background-color: darkkhaki;
}


h3{
    background-color: yellow;
}
h3{
    background-color: aqua;
}